#owner{ 
    color: rgb(226, 87, 77); 
    font-size: 40px; 
    width:100%;
    height: 10%;
    border: 3px solid rgb(15, 9, 14);  
    border-radius: 5px; 
    background-color: rgb(18, 63, 78);
    font-family: comic sans,Verdana,  
        Geneva, Tahoma, sans-serif; 
    margin:4px;
    padding: ;
        
} 

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5,  
#b6, #b7, #b8, #b9 { 
    width: 15%; 
    height: 85px; 
    border: 3px solid rgb(14, 4, 27); 
    border-radius: 6px; 
    font-size: 75px;
    font-weight:bold;
    margin-bottom:1px;
    text-align: center; 
    color: rgb(253, 67, 67);
    background-color: blue;
} 

/* Reset Button */
#but { 
    box-sizing: border-box; 
    width: 195px; 
    height:50px; 
    border: 3px solid rgb(20, 14, 19); 
    margin: 3px; 
    border-radius: 4px; 
    font-family: Verdana,  
        Geneva, Tahoma, sans-serif; 

    background-color: rgb(26, 109, 23); 
    color: rgb(240, 112, 112); 
    font-size: 20px; 
    font-weight: bold; 
    cursor: pointer; 
} 

/* Player turn space */
#final { 
    font-family: Verdana,  
        Geneva, Tahoma, sans-serif; 

    color: rgb(94, 5, 5); 
    font-size: 20px; 
    margin :5px;
} 

/* Main Contianer */
#main { 
    text-align: center; 
     background:rgb(181, 157, 238);
}
/* Game Instruction Text */
#ins { 
    font-family: comic,Verdana,  
         sans-serif; 
         font-weight:bold; 
    color: rgb(16, 83, 10); 
    font-size: 37px; 
    margin:5px;
} 
